apiVersion: apps/v1
kind: Deployment
metadata:
  name: transaction-service-backend
spec:
  template:
    spec:
      containers:
        - name: backend
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "dev"
